git.DS_Store
node_modules
CNAME
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/views/dongying/knowledge/knowledge.js
vue.config.js.bak
package-lock.json
