$color-main: #1f6d9d;
$color-main-disabled: #69899c;
$color-footer-bg: #e6e6e6;
$color-border-base: #e4e4e4;
$color-white: #fff;
$color-lighten-blue: #deecf7;
$color-darken-blue: #0a1c2d;
$color-blue: #0085e9;
$color-gray: #ccc;
$color-lighten-gray: #f5f6f7;
$color-darken-gray: #7a7878;
$color-red: #7f0600;
$color-orange: #e2a248;
$color-brighten-orange: #f7941d;
$color-black: #333;

$color-header-left:#216C9F;
$color-header-right:#2371A6;

$color-footer-left:#E0E0E0;
$color-footer-right:#E6E6E6;

$color-bottom-left:#E9E9E9;
$color-bottom-right:#F0F0F0;

$color-item-left:#dce9f5;
$color-item-right:#e1edfa;

$color-even-left:#f3f3f3;
$color-even-right:#f9f9f9;

$color-odd-left:#f0f0f0;
$color-odd-right:#f6f6f6;
